/nbproject/
/thinkphp/
/vendor/
/data/
/runtime/*
/public/assets/libs/
/public/uploads/*
/public/*
!/public/assets/
!/public/index.php
!/public/assets/addons/
!/public/assets/addons/cms/
!/public/assets/addons/cms/css/
!/public/assets/addons/cms/css/*.css
.idea
composer.lock
*.log
*.css.map
!.gitkeep
.env
.svn
.vscode
node_modules
.user.ini
cmspersonalityforestnew.sql
