<div class="col-xs-12 col-md-12 animate__animated animate__fadeInUp" data-wow-delay=".3s">
    <div class="panel panel-default">
        <div class="h3 pt-3">Q&A</div>
        <div class="panel-body">
            <el-collapse v-model="activeNames">
                <el-collapse-item title="⬊什么是MBTI？" name="1">
                  <div>
                    <p>MBTI（Myers-Briggs Type Indicator）是一种常用的人格类型指标，旨在帮助人们了解自己和他人的个性特点。它基于心理学家卡尔·荣格和伊莎贝尔·布里格斯-迈尔斯的研究成果。</p>
                    <p>MBTI 使用四个维度来描述个体的偏好和行为方式。这些维度包括：</p>
                    <p>1、外向（E）与内向（I）：外向者喜欢与他人互动，通过社交获取能量；内向者则更倾向于内省，通过独立思考来汲取能量。</p>
                    <p>2、感觉（S）与直觉（N）：感觉者注重现实和实际细节，倾向于依赖五官感知；直觉者更关注未来和抽象概念，倾向于从整体中寻找意义。</p>
                    <p>3、思维（T）与情感（F）：思维者偏向于理性和逻辑分析，以客观事实为基础做出决策；情感者更加注重价值观和情感因素，以人们的需求和情感做出决策。</p>
                    <p>4、判断（J）与知觉（P）：判断者偏向于组织和规划，喜欢有结构的生活方式；知觉者更加灵活、开放，倾向于适应环境和保持自由。</p>
                    <p>通过这些维度的组合，MBTI 形成了16种不同的人格类型。每个类型都有其独特的行为偏好、思维方式和工作风格。MBTI 可以帮助个人更好地了解自己的优点、盲点和适应方式，促进个人发展、团队合作和人际关系。</p>
                    <p>需要注意的是，MBTI 是一种测量工具，它并不是确定性格的唯一标准。个体在不同情境下可能会展现出不同的行为特征，而且人格也受到其他因素的影响。因此，MBTI 的结果应该被视为启示而非限制，可以用来启发自我探索和增进对他人的理解。</p>
                  </div>
                </el-collapse-item>
                <el-collapse-item title="⬊如何找到我的类型？" name="2">
                  <div><p>只有在您表达真实的自我时，人格测试才是可靠的。推荐官方链接：<a href="https://www.16personalities.com/ch/%E4%BA%BA%E6%A0%BC%E6%B5%8B%E8%AF%95">16型人格官方测试入口</a></p></div>
                </el-collapse-item>
                <el-collapse-item title="⬊动漫角色的人格类型是什么？" name="3">
                  <div>
                    <p>在动漫中，"元气少女"最有可能被归类为ENFP类型，而"傲娇角色"（Tsundere characters）"最有可能被归类为ESTJ类型。此外，还有其他动漫原型如"病娇"、"冷傲"和"闷骚"等。您也可以在这里找到一个完整的动漫角色及其人格类型的列表。</p>
                </div>
                </el-collapse-item>
                <el-collapse-item title="⬊常见的虚构角色的MBTI类型是什么？" name="4">
                  <div>
                    <p>电影和电视剧中，INTP 和 INTJ 类型的角色最为罕见。动漫中，ESTJ 和 ESFJ 类型的角色也较为罕见，而INTJ 类型的动漫角色则较为常见。主要是因为虚构作品的创作者们常常会基于不同的需求和设定来设计角色，ISTP 类型和INFP 类型的角色是作者和设计师们最喜欢的类型之一。</p>
                    <p>例如在电影和电视剧中，常常需要有复杂的故事线和角色关系，因此需要更多的INTP和INTJ类型的角色。而在动漫中，常常需要具备英雄气概和决断力的角色，因此INTJ类型的角色较为常见。</p>
                    <p>此外，创作者们也经常会根据某个特定角色的设定来确定其人格类型。例如，某个角色的设定可能是一个勇敢、果断的领袖，那么他的人格类型很可能就会被设定为ESTJ类型。因此，在不同的场景和角色设定中，不同的MBTI类型的角色出现的频率也可能会有所不同。</p>
                  </div>
                </el-collapse-item>
              </el-collapse>
        </div>
    </div>


   
</div>

