<div class="sidebar-toggle sidebar-toggle-fab"><i class="fa fa-bars"></i></div>
<div class="sidenav ucenter-sidenav" id="sidebar-nav">
    {:hook('user_sidenav_before')}
    {:hook('user_sidenav_after')}
    <ul class="list-group">
        <li class="list-group-heading">{:__('会员中心')}</li>
        <li class="list-group-item {:check_nav_active('user/index')}"> <a href="{:url('user/index')}"><i class="fa fa-user-circle fa-fw"></i> {:__('会员中心')}</a> </li>
        <!-- <li class="list-group-item {:check_nav_active('user/profile')}"> <a href="{:url('user/profile')}"><i class="fa fa-user-o fa-fw"></i> {:__('Profile')}</a> </li> -->
        <li class="list-group-item {:check_nav_active('user/changepwd')}"> <a href="{:url('user/changepwd')}"><i class="fa fa-key fa-fw"></i> {:__('修改密码')}</a> </li>
        <li class="list-group-item {:check_nav_active('user/logout')}"> <a href="javascript:localStorage.removeItem('email_token'); window.location.href='{:url('user/logout')}';"><i class="fa fa-sign-out fa-fw"></i> {:__('退出')}</a> </li>
    </ul>
</div>
