<style>
    .vipBtn2{
        background: linear-gradient(to right, #ff9966, #ff5e62); 
            color: #fff!important;
            font-weight: 700;
            text-align: center;
            border-radius: 36px;
            width: 120px;
            height: 36px;
            line-height: 36px;
    }
</style>
<div id="content-container" class="ucenter-page mx-auto max-w-7xl px-4 py-8 md:px-6 md:py-10">
    <div class="grid grid-cols-1 gap-6 lg:grid-cols-12">
        <div class="lg:col-span-3">
            {include file="common/sidenav" /}
        </div>
        <div class="lg:col-span-9">
            <section class="ui-card border border-black/10 bg-white/70">
                <div class="px-5 py-5 sm:px-6 sm:py-6">
                    <div class="mb-6 border-b border-black/10 pb-4">
                        <div class="flex items-center justify-between gap-3">
                            <h2 class="m-0 text-lg font-extrabold tracking-[0.02em] text-black">{:__('Member center')}</h2>
                            <div class="flex items-center gap-2">
                                <a href="{:url('user/profile')}" class="inline-flex items-center gap-2 border border-black bg-black px-4 py-2 text-xs font-semibold tracking-[0.12em] text-white no-underline hover:bg-black/90">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                    <span>{:__('Profile')}</span>
                                </a>
                            </div>
                        </div>

                        <div class="mt-4 ucenter-tabs md:hidden">
                            <a href="{:url('cms.answer/index')}" class="ucenter-tab {:check_nav_active('cms.answer/index','ucenter-tab-active')}">{:__('我的测试记录')}</a>
                            <a href="{:url('cms.answer/fun')}" class="ucenter-tab {:check_nav_active('cms.answer/fun','ucenter-tab-active')}">{:__('趣味测试记录')}</a>
                            <a href="{:url('cms.comment/index')}" class="ucenter-tab {:check_nav_active('cms.comment/index','ucenter-tab-active')}">{:__('我发表的评论')}</a>
                        </div>
                    </div>

                    <div class="user-baseinfo flex flex-col gap-5 sm:flex-row sm:items-center">
                        <div class="user-center flex justify-center sm:w-28">
                            <a href="{:url('user/profile')}" title="{:__('Click to edit')}">
                                <span class="avatar-img"><img src="{$user.avatar|htmlentities|cdnurl}" alt=""></span>
                            </a>
                        </div>
                        <div class="min-w-0 flex-1">
                            <div class="ui-content">
                                <h4 class="m-0 text-base font-extrabold tracking-[0.01em]"><a class="text-black no-underline hover:text-black" href="{:url('user/profile')}">{$user.nickname|htmlentities}</a></h4>
                                <p class="mt-2 text-sm leading-7 text-black/60">
                                    {$user.bio|default=__("This guy hasn't written anything yet")|htmlentities}
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- {if $vipInfo}
                        <div class="row mt-3" style="height: 36px;line-height: 36px;">
                            <div class="col-xs-6 col-md-6">会员等级：<span style="font-weight: 700;font-size: 18px;color: orangered;">{$vipInfo.name}</span></div>
                            <div class="col-xs-6 col-md-6">到期时间：{$vipInfo.expiredate}</div>
                        </div>
                    {else/}
                        <div class="row mt-3"style="height: 36px;line-height: 36px;">
                            <div class="col-xs-6 col-md-6">会员等级：<span style="font-weight: 700;font-size: 18px;color: orangered;">暂未开通会员</span></div>
                            <a href="{:url('vip/viplist')}"><div class="col-xs-6 col-md-6 vipBtn2">去开通</div></a>
                        </div>
                    {/if} -->
                    <!-- <hr/>

                    <div class="row mt-3" style="height: 36px;line-height: 36px;">
                        <div class="col-xs-6 col-md-6">{:__('Money')}：<span style="font-weight: 700;font-size: 18px;color: orangered;">{$user.money}</span></div>
                        <a href="{:url('recharge/recharge')}"><div class="col-xs-6 col-md-6 vipBtn2">去充值</div></a>
                    </div> -->
                </div>
            </section>
        </div>
    </div>
</div>
